* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
}
body{
    background-color: #f2e9d0;
}
.mainMsg {
    background-color: #bb5a5a;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    height: 650px;
}

h1 {
    color: #eaceb4;
    font-family: 'Playfair Display';
    font-size: 6em;
    font-weight: 700;
    padding-top: 100px;
    padding-left: 40px;
}

span {
    display: block;
    margin-left: 50px;
    margin-top: 40px;
}

.contact {
    margin-left: 250px;
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    color: #000;
    background: #fff;
    line-height: 30px;
    border-radius: 40px;
    padding: 20px;
    font-size: 30px;
    font-weight: 600;
    box-shadow: rgb(255, 198, 0) -2px -2px 0px 2px, rgb(246, 84, 174) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
    transition: all 0.2s;
}

.contact:hover {
    box-shadow: rgb(246, 84, 174) -2px -2px 0px 2px, rgb(255, 198, 0) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
    transform: scale(1.01);
}

.wave {
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave svg {
    position: relative;
    display: block;
    width: calc(115% + 1.7px);
    height: 167px;
}

.intro {
    color: #eaceb4;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
}

.intro p {
    font-family: Times, Helvetica, sans-serif;
    font-style: oblique;
    display: block;
    margin-bottom: 5px;
    font-size: 2em;
    padding-left: 250px;
}

.intro p[data-line="2"] {
    transform: translateX(10%);
}

.intro p[data-line="3"] {
    transform: translateX(36%);
}


.services {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    right: 700px;
    max-height: 1000vh; 
    max-width: 800vh; 
    justify-content:center;
    align-items: center;
    overflow: hidden;
    gap: 5px;
    

}
.photo-container {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(162, 143, 143, 0.5);
    color: white;
    
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    
}
.overlay > *{
    font-family: 'Playfair Display';
    font-size: 2em;
}

.photo-container:hover .overlay {
    opacity: 1;
}
.leftside{
    height: 700px;
    max-width: 400px;
    overflow: hidden;

}
.rightside {
    height: 700px;
    max-width: 550px;
    overflow: hidden;
    display: flex; /* Use flexbox to adjust spacing */
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}
.n1{
    max-width: auto;
    max-height: 700px;
    
}

.upperside{
    display: flex;
    overflow: hidden;
    gap: 50px;
    object-fit: cover;
    max-height: 380px;
}


.n2,.n3{
   max-height: 380px;
   

}
.n4{
    max-width: 427px;

}

.custom-shape-divider-bottom-1711856646 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1711856646 svg {
    position: relative;
    display: block;
    width: calc(112% + 1.3px);
    height: 157px;
}

.custom-shape-divider-bottom-1711856646 .shape-fill {
    fill: #BB5A5A;
}
.footer {
    background-color: #BB5A5A;
}