body{
    background-color: #D7C9AD;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
    padding: 20px;
    position: relative;
}

h1 {
    margin: 0;
}

.mainMsg {
    font-family: Helvetica, sans-serif;
    font-size: 3.15em;;
    margin: 0;
    color: #402C26;
    font-style: italic;
    position: absolute;
    top: 25%; 
    left: 20px;
    transform: translateY(23%);
    padding-right: 20px; 
    z-index: 1;
  }
.Main {
    position: absolute;
    max-width: 43%;
    height: auto;
    box-shadow: none;
    top: 50%;
    right: 30px;
    z-index: 0;
}
span {
    display: block;
    margin-left: 242px;
    margin-top: 90px;
}

.intro {
    padding-top: 30px;
    display: flex; /* Use flexbox */
    flex-direction: column; /* Arrange paragraphs vertically */
}
.intro p{
    font-family: Times New Roman, Helvetica, sans-serif;
    font-style: oblique;
    display: block;
    margin-bottom: 5px;
    font-size: 0.6em;
}
 .intro p[data-line="2"] {
    transform: translateX(10%);
  }
  
  .intro p[data-line="3"] {
    transform: translateX(36%);
  }

  @media screen and (max-width: 768px) {
    .mainMsg {
        font-size: 40px;
        top: 10%;
        left: 10px;
        transform: translateY(10%);
    }

    .Main {
        width: 100%;
        height: auto;
        top: 60%;
        right: 0;
    }

    span {
        margin-left: 20px;
        margin-top: 50px;
    }

    .intro p {
        font-size: 20px;
    }

    .intro p[data-line="2"] {
        transform: translateX(5%);
    }

    .intro p[data-line="3"] {
        transform: translateX(18%);
    }
}